/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: calc(12px + (26 - 14) * ((100vw - 375px) / (1920 - 375)));
  line-height: calc(18px + (32 - 16) * ((100vw - 375px) / (1920 - 375)));
}
body.lock {
  overflow: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header {
  height: 60px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: lightgreen;
  z-index: 10;
}
header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#logo a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#main_menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#main_menu ul li + li {
  margin-left: 30px;
}
#main_menu ul li a {
  display: inline-block;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  background-color: transparent;
}
#main_menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hamb_menu {
  display: none;
}

#side_block {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: lightyellow;
  padding: 20px;
  z-index: 12;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#side_block.open {
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
}

#page_overlay {
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 11;
}
#page_overlay.open {
  display: block;
}

.page_wrapper {
  display: grid;
  grid-template-rows: 1fr 30px;
  height: 100%;
}

main {
  margin-top: 60px;
}

.pic_wrap .pic {
  width: 30%;
}

footer {
  height: 30px;
  background-color: #444;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  border: 2px solid blue;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  width: 80%;
  margin: 0 auto;
  border: 2px solid tomato;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.first_section {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #dbdbdb;
}

.pic_wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}
.pic_wrap .pic {
  width: 100%;
}
.pic_wrap .pic:nth-child(1) {
  height: 100px;
}
.pic_wrap .pic:nth-child(2) {
  height: 120px;
}
.pic_wrap .pic:nth-child(3) {
  height: 90px;
}

.features_section {
  padding-top: 80px;
  padding-bottom: 100px;
}